
body {
    background-color: #EEEEEE;
}

header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
    background-color: #ffffff;
    text-align: center;
    border-radius: 1em;
}

#divCentral {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
}

nav {
	flex : 2;
    background-color: #d373b3;
    padding-left: 1em;
    padding-right: 1em;
	margin-left: 2em;
    line-height: 2em;
}

nav a {
    color: #b82676;
    text-decoration: underline;
}

nav a:visited {
    color: #612847;
    text-decoration: none;
}

main {
	flex : 10;
    background-color: #EEEEEE;
    padding-left: 6em;
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: #e77c31;
    border-radius: 1em;
}

